<h1>Popular Counties</h1>

<div class="row">
        <div class="col-md-4">
        <h4>
        <% for location in @locations %>
            <p><a href="/locations/<%= location[:id] %>"><%= location[:title] %></a></p>
        <% end %>
        </h4>

        </div>
        <div class="col-md-6">
        <img src='https://www.michigan.gov/images/recreation/web_snowmobile2015_508847_7.png' width="500" height="500" />
        </div> 
        </div> 

</div>
