<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @location[:date] %>

</h2>
<h1>Give your review of the trails in <%= @location[:title] %></h1>

<form action="/locations/<%= @location[:id] %>/rsvps/create">

  <div class="form-group">
    <label>Would you recommend?</label>
    <select class="form-control" name="going">
      <option value="1">Yes I would recommend</option>
      <option value="0">No, those trails suck</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>